In [1]:
import pandas as pd
import numpy as np

#### Creating Data

##### Student data

* student name
* student age
* student study_time
* student marks_in_perc
* student award
* student punishment

In [2]:
# !pip install names

In [3]:
import names

In [4]:
df = pd.DataFrame()
row_count = 10000

df["name"] = [names.get_first_name() for _ in range(row_count)]
df["age"] = np.random.randint(0, 21, row_count)
df["studied_time"] = np.random.randint(1, 9, row_count)
df["marks_in_perc"] = np.random.randint(25, 100, row_count)
df["award"] = np.random.choice(["Playing game", "Out for Movie", "Favritoe Food"], row_count)
df["punishment"] = np.random.choice(["No Game", "Grounded", "No Wifi"], row_count)

df.head()

     name  age  studied_time  marks_in_perc          award punishment
0   Roger    0             8             36  Favritoe Food   Grounded
1  Albert   14             7             97  Favritoe Food    No Wifi
2   David    5             6             39  Favritoe Food    No Wifi
3    Tami   16             8             26  Out for Movie   Grounded
4    Iris   15             2             42  Favritoe Food    No Wifi

In [5]:
df.sample(5)

         name  age  studied_time  marks_in_perc          award punishment
2406  Shelton   12             5             55  Favritoe Food    No Wifi
3979   Steven    9             8             42   Playing game   Grounded
7897    James   18             3             41  Favritoe Food   Grounded
5152     Gail   15             4             66  Favritoe Food    No Game
2415     John   13             2             32  Out for Movie   Grounded

##### Simple idea is to check if student is studied more than 4 hrs a day or scored more than 80% will get a award or will get punishment

In [6]:
## What they will get

In [16]:
def map_award_or_punish(each_row):
    if (each_row["studied_time"] > 4) | (each_row["marks_in_perc"] > 80) :
        return each_row["award"]
    else:
        return each_row["punishment"]

#### Looking at each row and iterating using loop

In [17]:
%%timeit
df1 = df.copy()
for index, row in df1.iterrows():
    df1.loc[index, "What_they_get"] = map_award_or_punish(row)

2.77 s ± 50.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

#### Using Apply

In [18]:
%%timeit
df2 = df.copy()
df2["What_they_get"] = df2.apply(map_award_or_punish, axis=1)

92.7 ms ± 648 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [19]:
df2 = df.copy()
df2["What_they_get"] = df2.apply(map_award_or_punish, axis=1)
df2.head()

,name,age,studied_time,marks_in_perc,award,punishment,What_they_get
0,Roger,0,8,36,Favritoe Food,Grounded,Favritoe Food
1,Albert,14,7,97,Favritoe Food,No Wifi,Favritoe Food
2,David,5,6,39,Favritoe Food,No Wifi,Favritoe Food
3,Tami,16,8,26,Out for Movie,Grounded,Out for Movie
4,Iris,15,2,42,Favritoe Food,No Wifi,No Wifi

#### Using Vectorizer

In [23]:
%%timeit
df3 = df.copy()
df3["What_they_get"] = df3["punishment"]
df3.loc[((df3["studied_time"] > 4) | (df3["marks_in_perc"] > 80)), "What_they_get"] = df3["award"]

1.74 ms ± 55 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [25]:
def map_award_or_punish_new(studied_time, marks, award, punishment):
    if (studied_time > 4) | (marks > 80) :
        return award
    else:
        return punishment

In [26]:
%%timeit
df5 = df.copy()
df5["award"] = df5["punishment"]
df5["What_they_get"] = np.vectorize(map_award_or_punish_new)(df5["studied_time"], df5["marks_in_perc"], df5["award"], df5["punishment"])

3 ms ± 195 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)